body {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

:root {
  --borderH2Right: #ac0000;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}
.divTop {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(54, 57, 60, 0.5);
  box-shadow: 0 4px 8px rgb(81 85 88 / 20%);
  cursor: pointer;
}
.divTop:hover {
  transform: translateY(5px);
  transition: ease 400ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.h3Top {
  position: relative;
  color: black;
  padding-right: 5px;
  top: -45px;
  max-width: 300px;
}
.imgpost {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  object-fit: fill;
}
.imgpost:hover {
  opacity: 0.9;
  transition: ease 400ms;
}

.categories {
  position: relative;
  top: -200px;
  color: #fff;
  background-color: #ac0000;
  display: inline-block;
  width: 45px;
  border-radius: 5px 0 0 5px;
  font-size: 13px;
  padding-right: 4px;
}

/* header */
/* navBerTop */
.navBerTop {
  top: 0;
  background: #232323;
  color: #fff;
  display: flex;
  height: 34px;
  align-items: center;
}

.navBerTopFlex {
  display: flex;
  justify-content: space-between;
}
.weatherFlex {
  display: flex;
  align-items: center;
}
.data {
  font-size: 0.875rem;
  padding-right: 5px;
}
.weather {
  cursor: pointer;
  transition: ease 400ms;
}
.weather:hover::before {
  content: "القاهرة";
  width: 20px;
  height: 30px;
  transition: ease 400ms;
}
.weatherC {
  position: relative;
  right: 2px;
}
.weatherIcon {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 0;
}
/* loginTOP */
.loginTOP {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 34px;
  transition: transform 400ms;
}
.loginTOP:hover {
  background-color: #595959;
  transform: translateX(10px);
  padding-left: 10px;
  transition: transform 400ms;
  border-right: inset 5px #595959;
}

.loginTOP p {
  display: inline;
  font-size: 14px;
  font-weight: 600;
}
.loginTOP img {
  padding-left: 4px;
}
/* navBerTop */

#header {
  background-image: url(./header_bg_v2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 166px;
}

.header {
  height: 166px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.logoDIV {
}

.logo {
  max-width: 250px;
  min-width: 230px;
  height: auto;
}

.logo a {
  position: relative;
  margin-left: auto;
}

/* search */
.search {
  position: absolute;
  display: inline;
  height: 20px;
  margin-top: 70px;
  left: 30px;
}

.form-search {
  display: flex;
  position: relative;
  margin-right: auto;
  align-self: flex-start;
  height: 35px;
  box-shadow: 0 1.5px 3px 2px rgba(0, 35, 64, 0.1);
  padding: 0 5px 0 5px;
  background-color: #fff;
  /* left: 0; */
  align-content: flex-start;
  /* left: 5px; */
}

.form-search input {
  border: none;
  padding: 5px 7px 5px 7px;
  font-size: 14px;
}
.form-search input:focus {
  outline-width: 0;
}

.form-search img {
  background-color: #fff;
  cursor: pointer;
  width: 22px;
  height: auto;
  fill: rgba(41, 38, 39, 0.38);
}
/* search */

/* list */
.listFlex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #000000;
  font-size: 20px;
  font-family: "Lalezar", cursive;
  font-weight: 400;
  cursor: pointer;
  /* margin-right: 4px; */
  /* position: relative; */
  /* bottom: 11px; */
  margin-top: 22px;
}

.list {
  margin-right: 20px;
  position: relative;
}
.list::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: ease 0.25s;
  transform-origin: bottom right;
  background-color: #be2f21;
}
.list:hover::after {
  transform: scaleX(1);
}
.climate_change {
  width: 70px;
}

.list:nth-child(1) {
  border-bottom: solid 5px #be2f21;
  margin-right: 0;
}

/* sab Menu 1 */
.Dlist {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: #fff;
  width: 200px;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease 200ms;
  z-index: 1;
}
.Alist {
  padding-top: 10px;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
  color: #000000;
  padding-right: 10px;
}
.Alist:hover {
  border-bottom: solid 5px #be2f21;
}

.list:nth-child(2):hover > .Dlist {
  opacity: 1;
}

/* sab Menu 2 */
.Dlist2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: #fff;
  width: 200px;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease 200ms;
  z-index: 1;
}
.Alist2 {
  padding-top: 10px;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
  color: #000000;
  padding-right: 10px;
}
.Alist2:hover {
  border-bottom: solid 5px #be2f21;
}

.list:nth-child(3):hover > .Dlist2 {
  opacity: 1;
}
/* sab Menu 3 */
.Dlist3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: #fff;
  width: 200px;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease 200ms;
  z-index: 1;
}
.Alist3 {
  padding-top: 10px;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
  color: #000000;
  padding-right: 10px;
}
.Alist3:hover {
  border-bottom: solid 5px #be2f21;
}

.list:nth-child(6):hover > .Dlist3 {
  opacity: 1;
}
/* sab Menu 4 */
.Dlist4 {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: #fff;
  width: 200px;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease 200ms;
  z-index: 1;
}
.Alist4 {
  padding-top: 10px;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
  color: #000000;
  padding-right: 10px;
  display: none;
}
.Alist4:hover {
  border-bottom: solid 5px #be2f21;
}

.list:nth-child(7):hover > .Dlist4 {
  opacity: 1;
}

/* list Left */
.listLeft {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}
.listLeftItms {
  display: flex;
  flex-direction: row;
}
.business_web_menu_desktop {
  width: 90px;
  height: 40px;
}
.push-notifications {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.push-notifications:hover {
  transform: scale(1.2);
}

.urgentA {
  text-decoration: none;
  margin-right: 5px;
  width: 40px;
  height: 35px;
  border-right: solid 5px #f8eb20;
  background-color: #232323;
  color: #f8eb20;
  padding-top: 7px;
  padding-right: 5px;
  padding-left: 10px;
}
.urgentA:hover {
  background-color: #f8eb20;
  color: #232323;
  transition: ease 400ms;
}

/* video live */
.videoA {
  background-color: #cb0000;
  color: #fff;
  text-decoration: none;
  height: 42px;
  margin-right: 10px;
  width: 100px;
  border-right: solid 3px #cb0000;
  transition: ease 400ms;
}
.videoA:hover > .videoS {
  background-color: #f30000;
}
.videoA:hover {
  background-color: #f30000;
}
.videoS {
  width: 40px;
  height: 35px;
  background-color: #cb0000;
  margin-right: 10px;
  color: #fff;
  padding-top: 3px;
  transition: ease 400ms;
}

.videoSpan {
  position: absolute;
  top: 8px;
  margin-right: 4px;
}

/* radio */
.radioA {
  background-color: #328ae7;
  color: #fff;
  text-decoration: none;
  height: 42px;
  margin-right: 10px;
  width: 100px;
  border-right: solid 3px #fff;
  transition: ease 400ms;
}

.radioA:hover {
  background-color: #3289e7b4;
}
.radioS {
  width: 40px;
  height: 35px;
  margin-right: 10px;
  color: #fff;
  padding-top: 3px;
  transition: ease 400ms;
}

.radioSpan {
  position: absolute;
  top: 8px;
  margin-right: 4px;
}
/* header */

/* banner */
.banner {
  margin-top: 20px;
  margin-bottom: 31px;
}
.banner img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* sectoin-lastNews */
#sectoin-lastNews {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.lastNewsH1 {
  position: relative;
  border-right: solid 5px #ac0000;
  padding-right: 3px;
  cursor: pointer;
}

.lastNewsH1::after {
  content: " ";
  background-image: url(./img/content_go_arrow.svg);
  display: inline-block;
  height: 35px;
  width: 12px;
  margin-right: 46px;
  top: 7px;
  position: absolute;
}
.lastNews {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.lastNewsDIV {
  height: 300px;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(54, 57, 60, 0.5);
  box-shadow: 0 4px 8px rgb(81 85 88 / 20%);
  cursor: pointer;
}
.lastNewsDIV:hover {
  transform: translateY(5px);
  transition: ease 400ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: solid 5px #ac0000;
}

.imgpostLastNews {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  object-fit: fill;
}

.categoriesLastNews {
  position: relative;
  top: -200px;
  color: #fff;
  background-color: #ac0000;
  display: inline-block;
  width: 45px;
  border-radius: 5px 0 0 5px;
  font-size: 13px;
  padding-right: 4px;
}
/* last News Slid Left */
.lastNewsLeftDIV {
  display: flex;
  flex-direction: column;
}
.lastNewsSlidLeft-H2 {
  position: relative;
  border-right: solid 5px #ac0000;
  padding-right: 3px;
  cursor: pointer;
}

.lastNewsSlidLeft-H2::after {
  content: " ";
  background-image: url(./img/content_go_arrow.svg);
  display: inline-block;
  height: 35px;
  width: 12px;
  margin-right: 46px;
  top: 7px;
  position: absolute;
}

/* last News Left */
.lastNewsLeft {
  padding-right: 3px;
  padding-top: 65px;
  cursor: pointer;
  margin-top: -66px;
}
.lastNewsDIVLeft {
  height: 96px;
  width: 315px;
  border-radius: 5px;
  cursor: pointer;
  flex-basis: 32%;
  border-bottom: 1px solid rgba(54, 57, 60, 0.5);
}
.lastNewsDIVLeft:hover {
  transition: ease 400ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgpostLastNewsLeft {
  height: 85px;
  width: 114px;
  object-fit: fill;
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.h3TopLeft {
  font-size: 14px;
  position: relative;
  color: black;
  padding-right: 118px;
  top: -126px;
  max-width: 300px;
}

.categoriesLastNewsLeft {
  position: relative;
  padding-right: 5px;
  top: -89px;
  margin-bottom: 20px;
  margin-right: 114px;
  color: #fff;
  background-color: #ac0000;
  display: inline-block;
  width: 45px;
  border-radius: 5px 0 0 5px;
  font-size: 13px;
}

/* BUSINESS WINDOW start */
#BUSINESS_WINDOW {
  height: auto;
  background-color: #2f71c1;
  margin-top: 50px;
  margin-bottom: 20px;
}

.BUSINESSh2 {
  font-family: HelveticaNeueBold, "Times New Roman";
  font-size: 35px;
  padding-top: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.BUSINESSh2::before {
  content: " ";
  height: 40px;
  width: 2px;
  position: relative;
  display: inline-block;
  top: 0;
  background-color: #fff;
}

.BUSINESSh2Img {
  height: 30px;
}

/* post BUSINESS */
.BusinessPostDiv {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  column-gap: 10px;
  cursor: pointer;
  justify-content: space-between;
  flex-wrap: wrap;
}

.BusinessPostImg {
  max-width: 230px;
  clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 85%, 0 0);
  display: block;
}
.BusinessPostC {
  color: #fff;
  font-size: 14px;
  padding-top: 0;
}
.BusinessPostH3 {
  font-family: HelveticaNeueBold, "Times New Roman";
  color: #fff;
  font-size: 22px;
  max-width: 230px;
  margin-top: 0;
  transition: ease 400ms;
  position: relative;
}
.BusinessPostH3::after {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -2px;
  left: 0;
  transition: ease 0.25s;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.BusinessPostH3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* BUSINESS WINDOW end*/

/* kawkabuna new time desktop s */
.kawkabuna {
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

/* kawkabuna new time desktop e */

/* Infographic s */
#Infographic {
  margin-top: 20px;
  background-color: #232323;
}
.InfographicH2 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  padding-top: 10px;
  border-right: solid 5px var(--borderH2Right);
  border-radius: 10px;
  cursor: pointer;
}
.Infographic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 10px;
}
.info_Infographic {
  width: auto;
}
.info_Infographic img {
  min-width: 250px;
  width: 100%;
  object-fit: scale-down;
  cursor: pointer;
}
/* Infographic e */

/* multiple Category s */
#multipleCategory {
  display: grid;
  grid-template-areas:
    "MiddleEast world sport OpinionArticles"
    "MiddleEast world sport OpinionArticles"
    "MiddleEast world sport OpinionArticles"
    "MiddleEast world sport OpinionArticles"
    "MiddleEast world sport OpinionArticles";
  margin-top: 20px;
  background-image: radial-gradient(
    circle,
    #f5f8f8,
    #f8fafa,
    #fafbfc,
    #fdfdfe,
    #ffffff
  );

  column-gap: 20px;
}

.itm1 {
  grid-area: MiddleEast;
}
.itm2 {
  grid-area: world;

  height: 300px;
}
.itm3 {
  grid-area: sport;

  height: 300px;
}
.itm4 {
  grid-area: OpinionArticles;

  height: 300px;
}

/* itm1 */

.itm1H2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-top: -5px;
  border-right: solid 5px var(--borderH2Right);
  padding-right: 3px;
  color: #000;
  position: relative;
  line-height: 28px;
  cursor: pointer;
}
.itm1H2::after {
  content: " ";
  background-image: url(./img/content_go_arrow.svg);
  display: inline-block;
  height: 35px;
  width: 11px;
  margin-right: 46px;
  position: absolute;
}

.itm1POST-DIV {
  height: 96px;
  width: 315px;
  border-radius: 5px;
  cursor: pointer;
  flex-basis: 32%;
  border-bottom: 1px solid rgba(54, 57, 60, 0.5);
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: ease 400ms;
  position: relative;
  box-shadow: 0 1.5px 3px 0 rgba(0, 35, 64, 0.05);
}
.itm1POST-DIV::after {
  content: "";
  background-color: var(--borderH2Right);
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -2px;
  left: 0;
  transition: ease 0.25s;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.itm1POST-DIV:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.itm1POST-DIV:nth-child(1) {
  height: 180px;
  width: 315px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(54, 57, 60, 0.5);
  cursor: pointer;
}

.itm1POST-DIV:nth-child(1) img {
  height: 180px;
  width: 100%;
  border-radius: 5px;
  object-fit: fill;
}

.itm1POST-DIV:nth-child(1) h3 {
  color: #fff;
  color: #fff;
  padding-right: 14px;
  background-color: #000000a1;
  font-size: 19px;
}

.itm1C {
  position: relative;
  padding-right: 5px;
  top: -89px;
  margin-bottom: 20px;
  margin-right: 114px;
  color: #fff;
  background-color: #ac0000;
  display: inline-block;
  width: 45px;
  border-radius: 5px 0 0 5px;
  font-size: 13px;
  display: none;
}
.itm1Img {
  height: 85px;
  width: 114px;
  object-fit: fill;
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.itm1H3 {
  font-size: 14px;
  position: relative;
  color: black;
  padding-right: 118px;
  top: -92px;
  max-width: 300px;
}

/* itm 2 POST */

/* multiple Category e */


/* signin s */
#signin {
  margin-top: 30px;
  cursor: pointer;
}

.signin-bar {
  height: 70px;
  width: 100%;
  background-color: #232323;
}
.signin-img{
  width: 100%;
}

.signin-bar-img
{
  height: 60px;
  width: 70px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  top: -27px;
  background-color: #252933;
  border-radius: 50%;
  border:solid 5px #E9EFF0;
}
/* signin e */




newIMG s
newIMG e





/* Small 320 */
@media screen and (min-width: 320px) {
  .div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
  }
  .divTop {
    height: 300px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid rgba(54, 57, 60, 0.5);
    box-shadow: 0 4px 8px rgb(81 85 88 / 20%);
    cursor: pointer;
  }
  .imgpost {
    height: 200px;
    width: 380px;
    border-radius: 5px;
    object-fit: fill;
  }
}
